<%- include('../partials/sidebar'); -%>

<div id="container">
  <div>
    <a class="btn btn-info mb-3" href="/admin/coursesPlan" role="button"><i class="bx-sm bx-fw bx bx-arrow-back"></i>Kembali</a>
    <a class="btn btn-secondary mb-3" onclick="window.open('/admin/cetakCplCpmk')" role="button"><i class="bx-sm bx-fw bx bx-printer"></i></a>
  </div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th class="text-center" scope="col">No</th>
        <th class="text-center" scope="col">CP Program Studi</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>CP-1</td>
        <td>Mengidentifikasi, memformulasikan dan memecahkan permasalahan kebutuhan informasi dari suatu organisasi</td>
      </tr>
      <tr>
        <td>CP-2</td>
        <td>Mengintegrasikan solusi berbasis teknologi informasi secara efektif pada suatu organisasi</td>
      </tr>
      <tr>
        <td>CP-3</td>
        <td>Menerapkan konsep-konsep dasar dalam merencanakan Sistem Informasi, merancang Sistem Informasi, membangun Sistem Informasi, mengoperasikan Sistem Informasi, dan mengevaluasi Sistem Informasi</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th width="7%" class="text-center" scope="col"></th>
        <th width="75%" class="text-center" scope="col">Capaian Pembelajaran Mata Kuliah (CPMK)</th>
        <th class="text-center" scope="col">CP</th>
      </tr>
    </thead>
    <tbody>
      <% cpmkAll.forEach(item => { %>
      <tr>
        <td><%= item.code %></td>
        <td><%= item.name %></td>

        <td class="text-center"><% item.curriculum_los.forEach(a => { %><%= a.code %>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<% }) %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('../partials/footer'); -%>
