<!DOCTYPE html>
<!-- Designined by CodingLab | www.youtube.com/codinglabyt -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="<% if (user.type == "T") { %>
        /css/style-admin.css
       <% } else if (user.type == "D") { %>
       /css/style-dosen.css
       <% } else {%>
       /css/style-mahasiswa.css
       <% } %> ">
    
    <!-- Boxiocns CDN Link -->
    <link rel="stylesheet" href="/public/css/table.css">
   
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
    <div class="main">
          <div class="content">
            <% items.forEach((item) => { %>
                
            <div class="tampil-rps">
                
                <table class="rps-tabel">
                     <thead>         
                        <tr>
                            <th rowspan="4", align="center"><img src="/images/logounand.png" alt="logounand"  /></th>
                            <th colspan="7">RENCANA PEMBELAJARAN SEMESTER (RPS) </th> 
                        </tr>
                        <tr>
                            <th colspan="7">PROGRAM STUDI: Sistem Informasi </th>
                        </tr>
                        <tr>
                            <th colspan="7">FAKULTAS/PPs: Teknologi Informasi</th>
                        </tr>
                        <tr>
                            <th colspan="7">UNIVERSITAS ANDALAS </th>
                        </tr>
                    
                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2">MATA KULIAH </td>
                            <td>KODE </td>
                            <td colspan="2">Rumpun/Kelompok MK </td>
                            <td>BOBOT(sks) </td>
                            <td>Semester </td>
                            <td align="center">Tgl Penyusunan </td>
                        </tr>

                        <tr>
                            <td colspan="2"><%= item.name %></td>
                            <td><%= item.code %></td>
                            <td colspan="2"> </td>
                            <td >3</td>
                            <td >4</td>
                            <td > </td>
                        </tr>

                        <tr>
                            <td rowspan=2", colspan="2">OTORISASI </td>
                            <td colspan="2">Dosen Pengembang RPS </td>
                            <td colspan="2">Koordinator Rumpun MK </td>
                            <td colspan="2">KA Program Studi </td> 
                        </tr>
                        <tr>
                            <td colspan="2">
                                <% items.forEach((data) => { data.lecturers.forEach((res) => { %>
                                <%= res.name %>
                                <% })}) %>
                            </td>
                            <td colspan="2"> </td>
                            <td colspan="2"> </td> 
                        </tr>

                        <tr>
                            <td rowspan="12">Capaian Pembelajaran (CP) </td>
                            <td colspan="3">CP Program Studi </td> 
                        </tr>
                        <tr>
                            <td>CP-1 </td> 
                            <td colspan="6">Mengidentifikasi </td> 
                        </tr>
                        <tr>
                            <td>CP-2 </td> 
                            <td colspan="6">Mengintegrasikan </td> 
                        </tr>
                        <tr>
                            <td>CP-3 </td> 
                            <td colspan="6">Menerapkan konsep </td> 
                        </tr>
                        <tr>  
                            <td colspan="3">CP Mata Kuliah </td> 
                        </tr>

                        <% item.course_los.forEach((res) => { %>
                        <tr>
                            <td><%= res.code %> </td> 
                            <td colspan="6"><%= res.name  %> </td> 
                        </tr>
                        <% }) %>

                       <% items.forEach((item) => { %>
                            <tr>
                              <td colspan="2" class="font-weight">Deskripsi Singkat Mata Kuliah</td>
                              <td colspan="7"><%= item.description %></td>
                            </tr>
                  
                            <tr>
                              <td colspan="2" class="font-weight">Materi Pembelajaran/Pokok Bahasan</td>
                              <td colspan="7"><%= item.material %></td>
                            </tr>
                  
                            <tr>
                              <td colspan="10" class="font-weight">Pustaka</td>
                            </tr>
                            <% }) %> <% items.forEach((data) => { data.course_plan_references.forEach((res) => { var no = 0 %>
                            <tr>
                              <td colspan="2" class="border-bottom-0"></td>
                              <td colspan="6"><%= res.author %>, <%= res.year %>, "<%= res.title %>", <%= res.publisher %></td>
                            </tr>
                            <% })}) %>

                        <tr>
                            <td rowspan="8">Media Pembelajaran </td>
                            <td colspan="3">Perangkat Lunak: </td> 
                            <td colspan="4">Perangkat Keras: </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Power point </td> 
                            <td colspan="4">Projector </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Code Editor </td> 
                            <td colspan="4">Laptop </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Browser </td> 
                            <td colspan="4"> </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">NodeJs </td> 
                            <td colspan="4"> </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Rest Clien (Postman) </td> 
                            <td colspan="4"> </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Database Server (MYSQL) </td> 
                            <td colspan="4"> </td> 
                        </tr>
                        <tr> 
                            <td colspan="3">Version Control (GIT) </td> 
                            <td colspan="4"> </td> 
                        </tr>

                        <tr>
                            <td>Team Teaching </td>
                            <td colspan="7">- </td> 
                        </tr>

                        <tr>
                            <td>Assessment </td>
                            <td colspan="7">Project, Tugas, Quiz, UTS, UAS </td> 
                        </tr>

                        <tr>
                            <td rowspan="3">Mata Kuliah Syarat </td>
                            <td>1 </td>
                            <td colspan="6">SDA </td> 
                        </tr>
                        <tr>
                            <td>2 </td>
                            <td colspan="6">DASPRO </td> 
                        </tr>
                        <tr>
                            <td>3 </td>
                            <td colspan="6">PBO </td> 
                        </tr>  
                    </tbody>
                </table>
            </div>
             <% }) %>
          </div>
        </div>
    </div>

      <script>
        window.print();
      </script>

</body>
</html>