<%- include('../partials/sidebar'); -%>
<link rel="stylesheet" href="/public/css/table.css" />
<div id="container">
  <div class="">
    <h1 class="navbar-brand mb-5">Capaian Pembelajaran Mata Kuliah (CPMK)</h1>
    <div class="d-flex justify-content-between">
      <% items.forEach((item) => { %>
      <a class="button100-form-btn btn-head back ms-0" role="button" href="/dosen/coursesPlan/<%= item.id %>/<%= item.rev %>/"><% }) %><i class="bx bx-subdirectory-left"></i></a>

      <button class="button100-form-btn btn-head">
        <% items.forEach((item) => { %>
        <a href="/dosen/<%= item.id %>/<%= item.rev %>/add-cpmk" class=""><% }) %> TAMBAH </a>
      </button>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="table-wrap">
          <table id="table_id" class="table table-responsive-xl">
            <thead class="thead">
              <tr>
                <th width="1%">KODE</th>
                <th width="30%">DESKRIPSI</th>
                <th width="5%">AKSI</th>
              </tr>
            </thead>

            <tbody>
              <tr class="alert">
                <% items.forEach((item) => { item.course_los.forEach((res) => {%>
                <td><%= res.code %></td>
                <td><%= res.name %></td>
                <td width="250px">
                  <a class="editb" href="/dosen/<%= res.course_plan_id %>/<%= item.rev %>/cpl/<%= res.id %>"><i class="bx bx-detail" style="color: #132c89"></i></a>
                  <a class="editb" href="/dosen/<%= res.course_plan_id %>/<%= item.rev %>/edit-cpmk/<%= res.id %>"><i class="bx bxs-edit" style="color: #624de3"></i></a>
                  <form action="/dosen/<%= res.course_plan_id %>/<%= item.rev %>/CPMK/<%= res.id %>?_method=DELETE" onsubmit="hapus()" class="d-inline" method="post">
                    <button onclick="hapus()" type="submit" class="editb"><i class="bx bx-trash" style="color: #a30d11"></i></button>
                  </form>
                </td>
              </tr>
              <% })}) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  function success() {
    Swal.fire("Good job!", "Data deleted", "success")
      .then(function () {
        window.setTimeout(function () {
          window.location = "./CPMK";
        }, 700);
      })
      .catch((error) => console.log(error));
  }

  function hapus() {
    Swal.fire({
      title: "Are you sure?",
      text: "You won't be able to revert this!",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        Swal.fire("Good job!", "Data deleted", "success")
          .then(function () {
            window.setTimeout(function () {
              window.location = "./CPMK";
            }, 700);
          })
          .catch((error) => console.log(error));
      }
    });
  }
</script>
<%- include('../partials/footer'); -%>
