<%- include('../partials/sidebar'); -%>

<div id="container">
  <h1 class="navbar-brand mb-5">Edit Capaian Pembelajaran Mata Kuliah (CPMK)</h1>
  <div class="content">
    <form id="form" class="login100-form validate-form flex-sb flex-w" action="./<%= items.id %>?_method=PUT" onsubmit="success2()" method="POST">
      <input type="hidden" name="_method" value="PUT" />
      <div class="row input">
        <div class="col-sm-5 wrap-input100 validate-input" data-validate="Isikkan kode sesuai format">
          <h5 class="txt1">KODE (CPMK-NO)</h5>
          <input class="input100" type="text" value="<%= items.code %>" name="code" required />
          <span class="focus-input100"></span>
        </div>
        <div class="col-sm-6 wrap-input100 validate-input" data-validate="Isikkan id parent">
          <h5 class="txt1">PARENT ID</h5>
          <input class="input100" type="number" value="<%= items.parent_id %>" name="parent_id" placeholder="Pilih id parent" required />
          <span class="focus-input100"></span>
        </div>
      </div>
      <div class="row input">
        <div class="col-sm-12 wrap-input100 validate-input textarea" data-validate="Isikan deskripsi CPMK">
          <h5 class="txt1">DESKRIPSI</h5>
          <textarea class="input100" type="text" placeholder="<%= items.name %>" name="name" required></textarea>
          <span class="focus-input100"></span>
        </div>
      </div>

      <div class="container-button100-form-btn m-t-30">
        <button class="button100-form-btn" type="submit" >SIMPAN</button>
        <button class="button100-form-btn" type="button" type="button" onclick="page()">KEMBALI</button>
      </div>
    </form>
  </div>
</div>
<script>
  function success2() {
    Swal.fire("Good job!", "Data saved", "success")
      .then(function () {
        window.setTimeout(function () {
          window.location = "../CPMK";
        }, 700);
      })
      .catch((error) => console.log(error));
  }
  function page() {
    window.location = "../CPMK";
  }
</script>
<%- include('../partials/footer'); -%>
